<p id="notice"><%= notice %></p>

<p>
<strong>Post:</strong>
<%= @comment.post_id %>
</p>

<p>
<strong>Body:</strong>
<%= @comment.body %>
</p>



<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>